@media screen and (max-width: 800px){
    body > #gap-between-columns{
        transform: translateX(0);
    }

     .main-column.right-column{
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }
    body > .hamburger{
        display: block;
    }
    .main-column.right-column .resume>.sections-nav{
        height: 100px;
    }

    .main-column.right-column .resume-sections{
        margin-top: 120px;
    }
    .right-column>.column-content>.slide.work{
        margin-top: 60px;
    }
}

@media screen and (max-width: 600px){
    .main-column.right-column .section .section-content {
        width: 100%;
        margin-top: 25px;
    }
     .main-column.right-column .section .section-content .section-list-item-title.left:after{
        display: none;
    }
    
    .main-column.right-column .section .section-title {
        font-size: 1.6em;
    }
    body{
        font-size: 14px;
    }
     .main-column.right-column .section .section-content .section-list-item-title.left{
        font-size: 1.5em;
    }
    .main-column.right-column>.column-content{
        margin-left: 20px;
    }
    .main-column.right-column .resume>.sections-nav ul li>a{
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .main-column.right-column .resume>.sections-nav{
        height: 110px;
    }

}

@media screen and (max-width: 325px){
    .main-column.right-column .section .section-title {
        font-size: 1.3em;
    }
     .main-column.right-column .section .section-content .section-list-item-title.left{
        font-size: 1.2em;
    }

    .main-column.right-column .resume-sections{
        margin-top: 160px;
    }
}

@media screen and (max-width: 490px){
     .main-column.right-column .resume > .sections-nav ul.menu{
        flex-direction: column;
    }

     .main-column.right-column .resume > .sections-nav.active{
        height: 200px;
    }

     .main-column.right-column .resume > .sections-nav{
        height: 75px
    }
    .main-column.right-column .resume-sections{
        margin-top: 90px;
    }
     .main-column.right-column .resume > .sections-nav nav{
        top: 70px;
    }
     .main-column.right-column .resume > .sections-nav .dropdown-indicator{
        display: block;
    }
}

@media screen and (max-width: 390px){
    .work-grid{
        width: 185px;
    }
}