@font-face{
    font-family: "Cinzel";
    src: "../fonts/Cinzel-Regular.ttf",
}

@font-face{
    font-family: "Roboto";
    src: "../fonts/Roboto-Light",
         "../fonts/Roboto-Medium",
         "../fonts/Roboto-Bold";
}

/*
* I just wanted the best performance I could get, now the CSS is hard to maintain.
* Never abuse of selectors.
*/

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

* { box-sizing: border-box; }

a{
    text-decoration: none;
}

body{
    font-family: "Roboto";
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body > #gap-between-columns{
    position: fixed;
    height: 100%;
    transform: translateX(200px);
    width: 200px;
    z-index: 2;
    -webkit-box-shadow: -10px 0px 20px 0px rgba(171,171,171,0.61);
    -moz-box-shadow: -10px 0px 20px 0px rgba(171,171,171,0.61);
    box-shadow: -10px 0px 20px -5px rgba(171,171,171,0.61);
    transition-property: transform;
    transition-duration: 0.3s;
    background: #fff;
}

body > #gap-between-columns.slide-to-right{
    transform: translateX(250px);
}

/* << LEFT COLUMN */

body > .fixed-left-column{
    width: 200px;
    padding-top: 108px;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: 1;
}

body > .fixed-left-column .username{
    font-family: "Cinzel";
    font-weight: 400;
    font-size: 1.8em;
    margin: 0;
    text-align: center;
    color: #6b6b6b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > .fixed-left-column .nav{
    box-sizing: border-box;
    width: 100%;
    padding-left: 32px;
    margin-top: 70px;
}

body > .fixed-left-column .nav.menu > ul > li{
    font-weight: 300;
    font-size: 1.4em;
    transition: 0.3s;
    cursor: pointer;
}

body > .fixed-left-column .nav.menu > ul > li:not(:last-of-type){
    margin-bottom: 10px;
}

body > .fixed-left-column .nav.menu > ul > li:after{
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background: #707070;
    transition: 0.3s;
    margin-top: 8px;
}

body > .fixed-left-column .nav.menu > ul > li.active,
body > .fixed-left-column .nav.menu > ul > li:hover{
    color: #000;
}

body > .fixed-left-column .nav.menu > ul > li.active:after,
body > .fixed-left-column .nav.menu > ul > li:hover:after{
    width: 80%;
}

body > .fixed-left-column .nav.external-links{
    margin-top: 70px;
}

body > .fixed-left-column .nav.external-links > ul{
    font-weight: 500;
    font-size: 1.2em;
}

body > .fixed-left-column .nav.external-links > ul > li{
    margin: 3px 0;
}

body > .fixed-left-column .nav.external-links > ul > li > a{
    display: inline-block;
    color: rgba(0,0,0,0.53);
    transition: 0.2s;
    width: 100px;
}

body > .fixed-left-column .nav.external-links > ul > li .icon{
    position: relative;
    left: 70px;
    bottom: 1px;
    z-index: -1;
}

body > .fixed-left-column .nav.external-links > ul > li .icon path{
    fill: rgba(0,0,0,0.53);
    transition: 0.2s;
}

body > .fixed-left-column .nav.external-links > ul > li:hover a{
    color: #000;
}

body > .fixed-left-column .nav.external-links > ul > li:hover .icon path{
    fill: #000;
}

.wrap > .main-column.right-column > .hamburger{
    position: fixed;
    z-index: 4;
    width: 100px;
    display: none;
}

/* LEFT COLUMN >> */

/* << RIGHT COLUMN */

.wrap > .main-column.right-column{
    background: #fff;
    z-index: 3;
    position: relative;
    margin-left: 200px;
    width: calc(100% - 200px);
    max-width: 850px;
    transition: 0.3s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wrap > .main-column.right-column.slide-to-right{
    margin-left: 250px;
}

.wrap > .main-column.right-column > .column-content{
    margin-left: 30px;
    max-width: calc(100% - 50px);
    min-width: calc(100% - 50px);
    position: relative;
}

/* << SLIDES */

.right-column > .column-content > .slide.active-slide{
    visibility: visible;
}

.right-column > .column-content > .slide{
    width: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
}

/* SLIDES >> */

 /* << SECTIONS */

 .wrap .right-column .section .section-title{
    color: rgba(0,0,0,0.65);
    font-size: 2em;
    margin: 0 0 0 15px;
}

.wrap > .main-column.right-column .resume{
    overflow: visible;
}

.wrap > .main-column.right-column .resume-sections{
    margin-top: 100px;
}

.wrap > .main-column.right-column .section .section-content{
    width: 550px;
    margin-top: 75px;
}

.wrap > .main-column.right-column .section .section-content .section-list-item{
    margin-bottom: 45px;
}

.wrap > .main-column.right-column .section .section-content .section-list-item-title{
    font-weight: bold;
    position: relative;
    margin: 0px;
}

/* left title of each section list item */
.wrap > .main-column.right-column .section .section-content .section-list-item-title.left:after{
    content: "";
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 9px;
}

.wrap > .main-column.right-column .section .section-content .section-list-item-year{
    font-weight: 400;
    color: #707070;
}

.wrap > .main-column.right-column .section .section-content .section-list-item-description{
    font-weight: 400;
    font-size: 0.875em;
}

.wrap > .main-column.right-column .section .section-content .section-list-item-description > p{
    margin: 5px 0 0 0;
}

/* SECTIONS >> */

/* << SECTION NAV */

.wrap > .main-column.right-column .resume > .sections-nav{
    width: 100%;
    height: 80px;
    margin-left: -20px;
    background: #fff;
    position: fixed;
    z-index: 3;
    transition: 0.3s;
}

.wrap > .main-column.right-column .resume > .sections-nav.show-shadow{
    -webkit-box-shadow: 0 20px 20px -20px rgba(171,171,171,0.61);
    -moz-box-shadow: 0 20px 20px -20px rgba(171,171,171,0.61);
    box-shadow: 0 20px 20px -20px rgba(171,171,171,0.61);
}

.wrap > .main-column.right-column .resume > .sections-nav nav{
    position: absolute;
    bottom: 10px;
    margin-left: 26px;
}

.wrap > .main-column.right-column .resume > .sections-nav ul{
    display: flex;
}

.wrap > .main-column.right-column .resume > .sections-nav ul li > a{
    padding: 5px 10px;
    margin-right: 10px;
    color: rgba(0,0,0,0.67);
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

#education .section-content{
    margin-bottom: 150px;
}

.wrap > .main-column.right-column .resume > .sections-nav ul li.active > a,
.wrap > .main-column.right-column .resume > .sections-nav ul li:hover > a{
    color: #000;
}

/* SECTION NAV >> */

/* << WORK SLIDE */

.work-grid > .grid-item img{
    width: 100%;
    display: block;
}

.work-grid{
    margin: auto;
    margin-top: 20px;
}

.work-grid > .grid-item{
    overflow: hidden;
    float: left;
    width: 175px;
    height: 175px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.work-grid > .grid-item > .not-selected{
    transition: 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.work-grid:hover > .grid-item:hover .selected {
    opacity: 1;
}

.work-grid > .grid-item > .inner{
    width: 100%;
    height: auto;
    transform: translateY(0);
    animation-name: slide-top-bottom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

.work-grid > .grid-item > .selected{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 4;
    text-align: center;
    background: rgba(0,0,0,0.5);
    transition: 0.3s;
}

.work-grid > .grid-item > .selected .grid-item-link{
    display: table-cell;
    vertical-align: middle;
    width: 175px;
    height: 175px;
}

.work-grid > .grid-item > .selected .grid-item-link-inner{
    margin: auto;
}

@keyframes slide-top-bottom{
    from{transform: translateY(0);}
    /* some master's math here  */
    to{transform: translateY(calc(-50% + (175px - 50%)));} 
}

.work-grid:after {
    content: '';
    display: block;
    clear: both;
}

/* WORK SLIDE >> */

 /* RIGHT COLUMN >> */

.see-more-link{
    padding: 17px;
    margin: 10px 0 30px 0;
}

.see-more-link > a{
    color: rgba(0,0,0,0.65);
    font-size: 1.2em;
}